<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--加载属性集文件-->
    <properties resource="./db.properties"></properties>

    <!--设置mybatis运行-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>

        <!-- 启用延迟加载特性，不配置默认关闭该特性-->
        <setting name="lazyLoadingEnabled" value="true"></setting>

        <!-- 按需加载: false:使用关联属性，及时加载;    true,加载对象，则加载所有属性， -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>


    <!-- 配置mybatis运行环境，指定使用的默认运行环境是development -->
    <environments default="development">

        <!-- 配置development运行环境 -->
        <environment id="development">
            <!--使用JDBC管理事物-->

            <transactionManager type="JDBC"/>

            <!--配置数据源-->
            <dataSource type="POOLED">

                <!--配置数据源四大属性-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--配置映射文件-->
    <mappers>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/UserMpper.xml"/>

    </mappers>
</configuration>